<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Silent Wars</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo&family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="CSS/blogs.css" />
  </head>
  <body>
    <div class="header">
      <div class="navLinks">
        <ul>
          <img
            class="logoImg"
            src="Images/TheSilentWarsLogo.png"
            alt="The Silent Wars Logo"
          />
          <li>
            <a href="index">Home</a>
          </li>
          <li>
            <a href="index/#contact">Contact</a>
          </li>
          <li>
            <a href="index/#blog">Blogs</a>
          </li>
          <li>
            <a href="index/#about">About</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="blogPosts">

      
    </div>

    <div class="footer">
      <h3>Support Us</h3>
      <a href="#">Patreon</a>
      <a href="#">Share on Facebook</a>
      <a href="#">Share on Twitter</a>
    </div>
  </body>
</html>
