<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Silent Wars</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo&family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="CSS/blogs.css" />
  </head>
  <body>
    <div class="header">
      <div class="navLinks">
        <ul>
          <img
            class="logoImg"
            src="Images/TheSilentWarsLogo.png"
            alt="The Silent Wars Logo"
          />
          <li>
            <a href="index">Home</a>
          </li>
          <li>
            <a href="index/#contact">Contact</a>
          </li>
          <li>
            <a href="index/#blog">Blogs</a>
          </li>
          <li>
            <a href="index/#about">About</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="blogPosts"></div>

    <div class="footer">
      <h3>Support Us</h3>
      <a href="https://www.patreon.com/thesilentwars">Patreon</a>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A//thesilentwars.netlify.app/"
        >Share on Facebook</a
      >
      <a
        href="https://twitter.com/intent/tweet?text=I%20just%20had%20to%20share%20this%20awesome%20blog%20I%20found%20%0Ahttps%3A//thesilentwars.netlify.app/"
        >Share on Twitter</a
      >
    </div>
  </body>
</html>
